---
const currentYear = new Date().getFullYear()
---

<footer class="min-h-[5rem] w-full border-t border-gray-200 bg-white py-6">
  <div class="container mx-auto px-4">
    <div class="flex flex-col items-center justify-center">
      <p class="text-sm text-content">© {currentYear} , All Right Reserved</p>
    </div>
  </div>
</footer>

<script>
  import('@scripts/app.ts').catch(console.error)
  import('@data/global/index.json')
    .then((module) => {
      if (module.default?.enableSmoothScroll) {
        import('@scripts/lenis.ts').catch(console.error)
      }
    })
    .catch(console.error)
</script>
