---
const currentYear = new Date().getFullYear()
---

<footer class="mt-auto w-full">
  <div class="container mx-auto border-t border-gray-200">
    <div class="flex h-20 items-center justify-center">
      <p class="text-sm font-medium text-content">© {currentYear} , All Right Reserved</p>
    </div>
  </div>
</footer>

<script>
  import '@scripts/app.ts'
  import siteConfig from '@data/global/index.json'
  {
    if (siteConfig?.enableSmoothScroll) {
      import('@scripts/lenis.ts')
    }
  }
</script>
