---
import { getCollection } from 'astro:content'
import { sortItemsByDateDesc } from '@utils/data-utils'
import ProjectPreview from '@components/sections/ProjectPreview.astro'
import Button from '@components/ui/Button.astro'

const projects = (await getCollection('projects')).sort(sortItemsByDateDesc)
const featuredProjects = projects.filter(({ data }) => data.isFeatured)
---

{
  featuredProjects?.length > 0 && (
    <section class="my-16 px-4 sm:my-24 md:px-0">
      <div class="container mx-auto">
        <h2 class="mb-12 text-xl text-primary sm:mb-16 sm:text-2xl">{Astro.props.title}</h2>
        {featuredProjects.map((project) => (
          <ProjectPreview project={project} class="mb-10 sm:mb-12" headingLevel="h3" />
        ))}
        <div class="mt-12 sm:mt-16">
          <Button href="/projects">View All Projects</Button>
        </div>
      </div>
    </section>
  )
}
