---
import Layout from '@layouts/Layout.astro'
import Button from '@components/ui/Button.astro'
import { getEntry, render } from 'astro:content'

const page404 = await getEntry('pages', '404')
// 添加非空断言以确保TypeScript知道page404不为null
const { Content } = await render(page404!)
const title = '404 - Lost this page'
---

<Layout title={title}>
  <section class="container flex min-h-[70vh] flex-col items-center justify-center px-4 py-16 text-center">
    <h1 class="mb-8 text-6xl font-bold text-primary">404</h1>
    <h2 class="mb-4 text-2xl font-semibold">Oops, We lost this page</h2>
    <div class="mb-8 md:max-w-3xl"><Content /></div>
    <Button href="/" variant="primary" showIcon={false}> Back to homepage </Button>
  </section>
</Layout>
